


html {
    background-color:#111624  ;
    box-sizing: border-box;
}

.sky {
    width: 100%;
    height: 100%;
}

#bigBangButton {
    all: unset;
    cursor: pointer;
    transform: translate(-50%,-50%);

    position: absolute;
    top: 50%;
    left: 50%;
    animation: pulse 5s infinite ease-in-out;
}


  
@keyframes pulse {
    0%, 100% {
      transform: translate(-50%, -50%) scale(1);
    }
    50% {
      transform: translate(-50%, -50%) scale(1.1);
    }
}

#CatIcon{
    width: 80px;
    height: 80px;
}

#CatIcon:hover {
    transform: scale(1.1);
}

